* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100%;
  height: 100%;
}

.dashboardContainer {
   background: linear-gradient(to right, rgb(0, 0, 0), #002e7d);
  color: white;
  width: auto;
  height: 50%;
  margin: 10px;
  padding: 20px;

  box-shadow: 0 2px 5px rgba(211, 98, 98, 0.1);
}

.centerSection {
  height: 60%;
  width: auto;
  padding: 10px;
  display: flex;
}

.expensesAmount {
  text-align: end;
}

.balances {
  margin-top: 50%;
  padding: 20px 20px 20px 0;
}

.moreAccountBtn {
  width: 70%;
  height: 25%;
  border-radius: 50px;
  cursor: pointer;
}

.totalAmount {
  height: 10%;
  width: auto;
  padding: 10px;
  font-size: 2rem;
}

.accountDetail {
  height: 10%;
  width: auto;
  padding: 10px;
  margin-left: 80%;
 
}

/* Buttons Section */
.buttonsSection {
  margin-top: 6%;
  width: auto;
  height: 14%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.actionBtn {
  padding: 12px 20px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 50px;
  cursor: pointer;
}
.receiveBtn{
  /* background:linear-gradient(to right, rgb(97, 228, 71), #ffffff);; */
  color: black;
  width: 43%;
  border-radius: 50px;
}
 .sendBtn {
  /* background:linear-gradient(to left, rgb(211, 32, 32), #ffffff);; */
  color: black;
  width: 43%;
  border-radius: 50px;
}

.moreBtn {
  background-color: #ffffff;
  color: black;
  border-radius: 50px;
  width: 19%;
}

.title {
  width: auto;
  height: 5%;
  margin: 20px;
  font-size: medium;
}

.squareOptionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-items: center;
  width: 90%;
  height: 35%;
  margin: 10px 5%;
}

.squareButton {
  width: 100%;
  height: 60%;
  background:linear-gradient(to bottom right,grey,white,0.2);
  color: #000000;
  border: 1px solid #fbf9f9;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

.title{
  text-transform: uppercase;
  margin-left: 35%;
  margin-top: 10%;
}
.squareButton:hover {
  background-color: #dddddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.squareButton:active {
  transform: scale(0.95);
}

/* Dropdown Styling */
.currencyContainer {
  position: relative;
  display: inline-block;
}

.currencyDropdown {
  position: absolute;
  margin-top: -10rem;
  margin-left: 2.3rem;
  top: 100%;
  left: 0;
  width: 140px;
  background-color: white;
  color: black;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 100;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  padding: 10px;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.dropdownItem:hover {
  background-color: rgba(211, 98, 98, 0.2);
}

.dropdownItem:last-child {
  border-bottom: none;
}

.header{

  height: 2%;
  
}